

<div class="post_desc">    
    <p>Цикл занятий на основе медитативных и оздоровительных практик, способствующий восстановлению и коррекции зрения. Если у Вас близорукость, дальнозоркость, астигматизм, катаракта, атрофия зрительного нерва и др., - приглашаем Вас на занятия по восстановлению и коррекции зрения.В программе занятий: физические упражнения для глаз, медитация, психотехники, выход на причины болезней и устранения их.</p>  
    <p>Психологический тренинг, включающий техники по осознанию своего тела, психологические игры, физические и энергетические упражнения, медитации.</p>

    <p>Цель тренинга: обретение уверенности в себе, повышение работоспособности, гармонизация взаимоотношений с людьми, снятие стрессов, освобождение энергии тела, обретение навыков общения со своим телом, раскрытие внутренних резервов.</p>

    <p>В основе техники: cовременные методы телесной терапии, гештальт-терапии, психогенеза, медитативные техники.</p>
     
    <p>Этот тренинг является авторской разработкой Липеца Николая Владимировича, и направлен он прежде всего на снятие «панцирей» и зажимов, которые перекрывают свободное течение жизненной энергии в теле, вызывая как раз-личные заболевания и депрессивные состояния, так и трудности в каких-либо областях жизни человека. Застой приводит к фиксации энергетических блоков на той или иной группе мышц, создавая в них напряжение, становящееся со временем хроническим. Так появляется «мышечный панцирь», который можно считать универсальным эквивалентом подавления эмоций. А так как в человеке все взаимосвязано, то «мышечный панцирь» поддерживает собой и «панцирь эмоций» (стандартные реакции на стандартные ситуации), и «панцирь сознания» (стереотипы мышления, набор понятий и суждений). На тренинге наша работа направлена прежде всего на снятие «мышечного панциря» и частично «панциря эмоций», но, вследствие того, что человек един, вместе с улучшением внутреннего состояния, видимые изменения после тренинга часто происходят и в сфере социальных взаимоотношений.</p>
     
    <p>Телесные тренинги проводятся в нашей школе с 1995 года. За это время программа тренинга обновлялась и дополнялась в соответствии с потребностями времени и нашим внутренним ростом. Таким образом, одинаковых тренингов не бывает. Тренинг живет и меняется вместе с нами и, несмотря на видимую простоту и даже детскость некоторых упражнений тренинга, мы не перестаем удивляться тому, какую сильную жизненную энергию он открывает в людях! Определенный настрой и насыщенная программа тренинга, наполненная событиями и переживаниями, ускоряет психологическое время участников, помогая приобрести опыт, который в обыкновенной жизни достигается месяцами или даже годами.</p>

    <p>Прошедшие первый тренинг приглашаются на тренинг 2 «Изменение состояния сознания через движение». </p> 
            
  
   
    <p>Различные учения, опирающиеся на тысячелетний опыт цивилизаций и мировоззрений, дают разные ответы и рекомендуют разные пути развития человека. Методики Школы вобрали в себя много ценного из известных восточных и западных учений. Простые и понятные упражнения дают возможность увидеть и принять себя и окружающий мир, научиться жить в Любви и гармонии, радуясь каждому мгновению. Основные задачи Школы: осознание себя Творцом своей жизни, раскрытие своих творческих возможностей и достижение более высокого уровня осознанности; осознание Души и формирование сознания человека 21 века. Школа существует с 1995 г</p>
    <p>Руководитель Школы – Липец Николай Владимирович</p>
</div>  