        

        <!-- <a href="/assets/dyxfoto/301.jpg" rel="prettyPhoto[pp_gal]" title="You can add caption to pictures."><img src="/assets/dyxfoto/301.jpg" width="60" height="60" alt="Red round shape" /></a>

        <a href="/assets/dyxfoto/11.jpg" rel="prettyPhoto[pp_gal]"><img src="/assets/dyxfoto/301.jpg" width="60" height="60" alt="Nice building" /></a>

        <a href="/assets/dyxfoto/12.jpg" rel="prettyPhoto[pp_gal]"><img src="/assets/dyxfoto/301.jpg" width="60" height="60" alt="Fire!" /></a> -->
        
        
        
        <div id="blogslider" class="flexslider clearfix">
            <ul class="slides">
<!--                     <li><img src="/assets/dyxfoto/301.jpg" alt=""></li>
                <li><img  src="/assets/dyxfoto/12.jpg" alt=""></li>
                <li><img  src="/assets/dyxfoto/11.jpg" alt=""></li>
-->
                <li><img src="/assets/dyxfoto/301.jpg" alt=""></li>
                <li><img  src="/assets/dyxfoto/12.jpg" alt=""></li>
                <li><img  src="/assets/dyxfoto/11.jpg" alt=""></li>
            </ul><!-- end slides -->
        </div><!-- end slider -->
       