<div class="row text-center">
    <div class="title">
        <h1>Наши проекты</h1>
        <hr>
        <p class="lead">Глубокое дыхание</p>
    </div>
</div>
<div class="post_desc"> 
    <p>Практика дает глубокую проработку проблем Вашей личности. С помощью интенсивных дыхательных техник вы входите в измененное состояние сознания, открываетесь своему «Высшему Я». В этом состоянии происходит спонтанная проработка ваших психологических проблем, комплексов и стереотипов. Вы раскроете внутренние резервы вашего сознания и психики, получите мощный позитивный импульс для жизни, здоровья, работы.</p>
</div>