<div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="row text-center">
        <div class="title">
            <h1>Наши проекты</h1>
            <hr>
            <p class="lead">Учимся и отдыхаем вместе</p>
        </div>
    </div> 
       
    <div class="portfolio-wrap clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="#"><img src="/assets/dyxfoto/101.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Увеличить" title="" rel="prettyPhoto" href="/assets//assets/dyxfoto/101.jpg"><i class="fa fa-expand"></i></a></span>

                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> На горной реке</span></div>
            </div><!-- media_element -->
            
            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">На горной реке</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="###"><img src="/assets/dyxfoto/102.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="View item" title="" rel="prettyPhoto" href="/assets/dyxfoto/102.jpg"><i class="fa fa-expand"></i></a></span>
                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> Поездка в горы</span></div>
            </div><!-- media_element -->

            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">Поездка в горы</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="###"><img src="/assets/dyxfoto/103.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="View item" title="" rel="prettyPhoto" href="/assets/dyxfoto/103.jpg"><i class="fa fa-expand"></i></a></span>
                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> Индия</span></div>
            </div><!-- media_element -->
            
            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">Индия</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="###"><img src="/assets/dyxfoto/104.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="View item" title="" rel="prettyPhoto" href="/assets/dyxfoto/104.jpg"><i class="fa fa-expand"></i></a></span>
                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> На отдыхе</span></div>
            </div><!-- media_element -->

            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">На отдыхе</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="###"><img src="/assets/dyxfoto/105.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="View item" title="" rel="prettyPhoto" href="/assets/dyxfoto/105.jpg"><i class="fa fa-expand"></i></a></span>
                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> Прекрасный вид</span></div>
            </div><!-- media_element -->

            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">Прекрасный вид</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="###"><img src="/assets/dyxfoto/106.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="View item" title="" rel="prettyPhoto" href="/assets/dyxfoto/106.jpg"><i class="fa fa-expand"></i></a></span>
                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> Отличное настроение</span></div>
            </div><!-- media_element -->

            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">Отличное настроение</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="###"><img src="/assets/dyxfoto/107.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="View item" title="" rel="prettyPhoto" href="/assets/dyxfoto/107.jpg"><i class="fa fa-expand"></i></a></span>
                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> У стены</span></div>
            </div><!-- media_element -->

            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">У стены</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
            <div class="portfolio_classic">
            <div class="media_element ImageWrapper boxes_img">
                <a href="###"><img src="/assets/dyxfoto/108.jpg" alt=""></a>
                <div class="ImageOverlayH blue"></div>
                <div class="Buttons StyleSc">
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Мне нравится" title="" href="###"><i class="fa fa-vk"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Перейти" title="" href="###"><i class="fa fa-link"></i></a></span>
                    <span class="WhiteRounded"><a data-placement="bottom" data-toggle="tooltip" data-original-title="View item" title="" rel="prettyPhoto" href="/assets/dyxfoto/108.jpg"><i class="fa fa-expand"></i></a></span>
                </div><!-- Buttons -->
                <div class="StyleBe"><span><i class="fa fa-picture-o"></i> Китай</span></div>
            </div><!-- media_element -->

            <div class="portfolio_desc">
                <div class="title1">
                    <h3><a href="###">Китай</a></h3>
                    <hr>
                </div>
            </div><!-- end portfolio_desc -->
            
            </div><!-- end portfolio_classic -->
        </div><!-- end col-lg-6 -->
                 
    </div><!-- portfolio-wrap -->

    <div class="post_desc">
        <p>Существует много школ, много путей, много дорог…</p>
        <p>Различные учения, опирающиеся на тысячелетний опыт цивилизаций и мировоззрений, дают разные ответы и рекомендуют разные пути развития человека. Методики Школы вобрали в себя много ценного из известных восточных и западных учений. Простые и понятные упражнения дают возможность увидеть и принять себя и окружающий мир, научиться жить в Любви и гармонии, радуясь каждому мгновению. Основные задачи Школы: осознание себя Творцом своей жизни, раскрытие своих творческих возможностей и достижение более высокого уровня осознанности; осознание Души и формирование сознания человека 21 века. Школа существует с 1995 г</p>
        <p>Руководитель Школы – Липец Николай Владимирович</p>
        <p>«Развитие Осознанности и Интуиции» – авторский курс занятий руководителя Школы  
        Липеца Николая Владимировича. Это базовый курс Школы действует при содействии с Московским институтом психоанализа, занятия которого помогают: 
        <ul>
            <li>Выйти за свои привычные представления о жизни;
            <li>Снять груз депрессий, стрессов;</li>
            <li>Выйти из кругов постоянных проблем;</li>
            <li>Освободиться от иллюзий и привязанностей;</li>
            <li>Раскрыть свой творческий потенциал;</li>
            <li>Раскрыть в себе источник Любви, Радости и полноты Жизни;</li>
            <li>Осознать себя, осознать мир, в котором мы живем;</li>
            <li>Осознать путь своей Души.</li>
        </ul>
        <p>В основе курса – авторские методики Н.В.Липеца, современные и древние духовные и психологические практики, медитации, психотехники.</p>
    </div>  
</div><!-- end col-lg-12 -->