<section class="clearfix">
  <div class="container poster">
    <div class="row">
      <div class="fullwidth clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="media_element ImageWrapper boxes_img">

                <a href="#"><img width="100%" src="/assets/main1.jpg" alt=""></a>
                <a href="#"><img width="100%" src="/assets/maincut.png" alt=""></a>
            </div><!-- media_element -->
        </div><!-- end col-lg-6 -->
      </div><!-- end fullwidth -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end postwrapper -->