<div class="widget">
    <div class="title"><h4>Блог</h4></div>
    <ul class="recent_posts_widget">
        <li>
            <a href="#">
            <img src="/assets/dyxfoto/201.gif" alt="" />Семинар на Алтае 
            </a>
            <a class="readmore" href="#">14 апреля 2014</a>
        </li>
        <li>
            <a href="#">
            <img src="/assets/dyxfoto/202.gif" alt="" />Заочное обучение в Москве 
            </a>
            <a class="readmore" href="#">10 мая 2014</a>
        </li>
        <li>
            <a href="#">
            <img src="/assets/dyxfoto/404.gif" alt="">Прошел семинар на общую тему 
            </a>
            <a class="readmore" href="#">22 мая 2014</a>
        </li>
    </ul><!-- recent posts -->                              
</div><!-- end widget -->