<div class="widget">
    <div class="title">
        <h3>Последние новости</h3>
    </div>
    <ul id="recent_news_items">
        <% @sidebar_news.each do |item| %>
            <li><%= link_to item.title, refinery.news_item_path(item) %></li>
        <% end %>
    </ul>                             
</div>
