<div id="contact1">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= f.label :password, t('refinery.members.shared.password') %>
    <%= f.password_field :password, :class => "form-control", :autocomplete => 'off',:placeholder => 'оставьте эти поля пустыми, если не хотите менять пароль' %>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= f.label :password_confirmation, t('refinery.members.shared.password_confirmation') %>
    <%= f.password_field :password_confirmation, :class => "form-control", :autocomplete => 'off',:placeholder => 'оставьте эти поля пустыми, если не хотите менять пароль' %>
  </div>
</div>




