<% if @sidebar_categories.any? %>
  <h5><%= t('title', scope: 'refinery.blog.shared.categories') %></h5>
  <ul id="recent_categories_widget">
    <% @sidebar_categories.each do |category| %>
      <li<%= " class='selected'" if @sidebar_category.present? and @sidebar_category.id == category.id %>>
        <%= link_to "#{category.title} (#{category.post_count})", refinery.blog_category_path(category) %>
      </li>
    <% end %>
  </ul>
<% end %>