<section class="infoline copyright1 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 text-center">
          <p>© 1995-<%=Date.today.year%></p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 clearfix text-center">
         <p><%= Refinery::Setting.find_or_set("contact_address", true)%></p>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 text-center">
          <p><%= Refinery::Setting.find_or_set("contact_phone", true)%></p>
      </div> 
    </div>
  </div>
</section>
