<section class="infoline copyright1 clearfix">
  <div class="container">
      <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <p>© 1995-<%=Date.today.year%></p>
            </div><!-- end widget -->
            <div class="col-lg-6 col-md-6 col-sm-12 clearfix">
               <p>г. Москва, м. Полежаевская, 4-я Магистральная улица, д. 5, стр. 2.</p>
            </div><!-- end large-6 -->
            <div class="col-lg-3 col-md-3 col-sm-3 pull-right">
                <p class="right"> Телефон: +7-495-502-59-28</p>
            </div><!-- end widget --> 
</div><!-- end row -->
