
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12">
      <div class="logo-wrapper clearfix">
        <div class="logo">
          <a href="/" title="Главная">
            <%#= image_tag(@homepage.images[2].url, :alt => "Движение к Истоку") if @homepage.images[2] %>

            <img src=<%= image_tag(@homepage.images[2].url) if @homepage.images%> alt="Движение к Истоку"> 
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12">
      <nav class="navbar navbar-default fhmm" role="navigation">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div id="defaultmenu" class="navbar-collapse collapse container">
          <%= render(:partial => "/refinery/menu", :locals => {
           :dom_id => 'menu',
           :css => 'menu'
         }) %>
        </div>  
      </nav>
      <div class="callus clearfix">
        <ul>
            <li><p><span>Email: </span> <%= Refinery::Setting.find_or_set("contact_email", true)%></p></li>
            <li><p><span>Телефон: </span><%= Refinery::Setting.find_or_set("contact_phone", true)%></p></li>
        </ul>
      </div>
    </div>
  </div>
<% unless home_page? %>
  <section class="topbar clearfix">
    <div class="container infoline">
      <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <p> Школа психологического и духовного развития &laquo;Движение к истоку&raquo; </p>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <p class="right">Институт интенционально-синергетической психологии</p>
          </div>
      </div> 
    </div>
  </section>
<% end %>

</div>




