<div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
</div>
        <!-- end navbar-header 
        <div id="defaultmenu" class="navbar-collapse collapse container">
          <%= render(:partial => "/refinery/menu", :locals => {
           :dom_id => 'menu',
           :css => 'menu'
         }) %>
        </div>end #navbar-collapse-1 -->