

/*#articles #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}*/
/*
#articles ul {
  font-size: 11px;
  padding-left: 20px;
}
*/

/*
/********************** CALENDAR ******************/

/* Styling for the overall table */
div.title>h6 {
    text-align: center;
    }
table {
    font: 100% 'Raleway', Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    }
/* Styling for the column headers (days of the week) */
th {
    padding: 0 0.5em;
    text-align: center;
    background-color:#8A7BF4;
    color:white;
    border: 1px solid #83939C;
    }
/* Styling for the individual cells (days) */
td  {     
    font-size: medium;
    padding: 0.25em 0.25em;   
    width: 14%; 
    height: 12px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #83939C;
    }

.today { 
    background-color: #8A7BF4;
    color: #fff;
}

#table_calend {
    margin: 0 15px;
}

.notmonth, .notmonth a { color: #c8c8c8; }
