#home-boxes {
  background: #796AE3;
}
#home-boxes .jt-shadow {
  box-shadow:none;
}
#home-boxes .callus li:last-child, 
#home-boxes .social li:last-child,
#home-boxes .callus li,
#home-boxes .social li {
  border:none;
}
#home-boxes .wrapper {
  background:#ffffff;
  margin-top:40px;
  margin-bottom:40px;
  padding:5px 10px;
  /*webkit-box-shadow: 0 0 10px rgba(0,0,0,.25); -moz-box-shadow: 0 0 10px rgba(0,0,0,.25); box-shadow: 0 0 10px rgba(0,0,0,.25);*/
}

#home-boxes .copyright1 {
    border-bottom: 0px solid #F2F2F2;
    padding: 25px 0 0px;
}

.white {
        background:#ffffff;

}
.header , .header.affix, footer{
  width: 100%;
}
.post-wrapper-top h2{
  border: none;
}
#tags {
  
  line-height: 1.2em;
}

 #tags .tag1 { font-size: 0.8em; }
 #tags .tag2 { font-size: 1.0em; }
 #tags .tag3 { font-size: 1.3em; }
 #tags .tag4 { font-size: 1.6em; }

 #rss_feed_subscribe {
  display: block;
  padding-left: 25px;
  background: image_url('rss-feed.png') no-repeat;
}

.recent_post_img{
  width: 60px;
} 

ul#recent_posts_widget, 
ul#recent_categories_widget {
  list-style-type: none;
  margin: 0 0 15px;
}
.valign p{
  margin-bottom: 0px;
}
.valign {
  margin: 10px 0;
}

// #recent_posts_widget a {
//   padding-left: 5px;
// }

// #recent_posts_widget img {
//   vertical-align: top;
// }

h5 {
  margin: 15px 0 7px;
}

.readmore {
  color: #83939C;
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: right;
  
}

