<h2> В этот день (<%= l(params[:daydate].to_date, format: :calendar_simple) %>) будет проведено </h2>
<ul class="events-list">
  <% @events.each do |event| %>
    <li><%= render event %> </li>
  <% end %>
</ul>