<div id="content" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <div class="widget">
        <div class="title">
         <h3>О нас</h3>
        </div>
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="#">История школы</a></li>
            <li><a href="#">Наши преподаватели</a></li>
            <li><a href="#">Выездные тренинги</a></li>
            <li><a href="#">Фотогалерея, видео</a></li>
            <li><a href="#">Наше творчество</a></li>
        </ul>                              
    </div>
</div>


<div id="content" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <%= yield %>
</div>