<section class="clearfix">
  <div class="container poster">
    <div class="row">
      <div class="fullwidth clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="media_element boxes_img">
            <% if home_page? %>
              <img width="100%" src="/assets/main1.jpg" alt=""></a>
            <% else %>
              <img width="100%" src="/assets/maincut.png" alt="">
            <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>