<section class="topbar topbar-blue clearfix">
    <div class="container">
        <div class="row">
            <div id="toplogo" class="col-lg-12 col-md-12 col-sm-12">
              <div class="col-lg-2 col-md-12 col-sm-12 text-right">
              <% if @homepage.images[3] %>
                <a href="/" title="Главная">
                  <%= image_tag(@homepage.images[3].url, :alt => "Движение к Истоку") %>
                </a>
              <% end %>  
              </div>

               <div class="col-lg-4 col-md-12 col-sm-12 text-left">
                   <p> Школа психологического<br/>и духовного развития<br/>
               </div>

              <div class="col-lg-4 col-md-12 col-sm-12 text-right">
              <p class="right">Институт интенционально-<br/>синергетической  психологии</p>
              </div>

              <div class="col-lg-2 col-md-12 col-sm-12 ">
              <% if @homepage.images[4] %>
                <a href="/" title="Главная">
                  <%= image_tag(@homepage.images[4].url, :alt => "Движение к Истоку") %>
                </a>
              <% end %>
              </div>
            </div>
        </div>
    </div>
</section>